
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

 <!-- BODY STATRS HERE -->
    <!-- Slider -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="margin-top: 1%;">


            <div id="wowslider-container1">
                <div class="ws_images">
                    <ul>
                        <li><img src="~/Content/images/slide123.gif" alt="slider123" title="slider123" id="wows1_0" /></li>
                    </ul>
                </div>
                <div class="ws_shadow"></div>
            </div>
            <script src="~/Content/plugins/custom/js/wowslider.js"></script>
            <script src="~/Content/plugins/custom/js/script.js"></script>

        </div>
        <!-- panel whats new	 -->

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="panelavi" style="padding-left: 0px;">
                <div class="panel-heading" style="font-weight: bold;background-color: #24b95c;color: white;">Whats New...</div>
                <div class="panel-body" style="">
                    <ul>
                        <h4 style="color: #24b95c ">
                            Offline Data Entry for existing applications and Apply online for New/Renewal of Licenses for
                        </h4>
                        <li>Allopathic Private Medical Care Establishments</li>
                        <li>Diagnostic Centers under Pre-Conception and Pre-Natal Diagnostic Techniques Act, 1994</li>
                        <li>Blood Bank (NOC by SBTC)</li>
                    </ul>


                </div>
            </div>
            <div class="panelavi" style="padding-left: 0px; margin-top:5%">
                <div class="panel-heading" style="font-weight: bold;background-color: #24b95c;color: white;">Media</div>
                <div class="panel-body" style="">
                    <p>
                        The Government of Telangana is launching a web portal to apply, track and issue licenses online for PCPNDT Act, APMCE Act and Blood Bank (NOC by SBTC) under Department of Health, Medical and Family Welfare as per Ease of Doing Business Guidelines so as to create an investor friendly environment.
                    </p>
                    <p>
                        In the second phase the Department of Health, Medical and Family Welfare intends to integrate other departments like Drugs Control Administration, Department of AYUSH etc. into this web portal making it a single window to apply for all licenses in the Medical Domain.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row" style="margin-bottom:2%">
        <div class="outerbox col-md-3">
            <div class="head"><h4>CHFW</h4></div>
            <div class="init-image"><a href="" target="_blank"><img src="~/Content/images/chfw.gif" height="210px" width="100%"></a></div>

        </div>

        <div class="outerbox col-md-3">
            <div class="head"><h4>ALL ACTS</h4></div>
            <div class="init-image"><a href="" target="_blank"><img src="~/Content/images/acts.jpg" height="210px" width="100%"></a></div>

        </div>

        <div class="outerbox col-md-3">
            <div class="head"><h4>OTHER LINKS</h4></div>
            <div class="init-image"><a href="" target="_blank"><img src="~/Content/images/ol.gif" height="210px" width="100%"></a></div>

        </div>
        <div class="outerbox col-md-3">
            <div class="head"><h4>GENERAL INFO</h4></div>
            <div class="init-image"><a href="" target="_blank"><img src="~/Content/images/gi.jpg" height="210px" width="100%"></a></div>

        </div>
    </div>


